@font-face {
    font-family: "Saol";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/saol.eot");
    src: url("../fonts/saol.eot?#iefix") format("embedded-opentype"),
      url("../fonts/saol.woff2") format("woff2"),
      url("../fonts/saol.woff") format("woff"),
      url("../fonts/saol.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "S-CoreDream";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src:url("../fonts/S-CoreDream-1Thin.woff") format("woff");
  }
  @font-face {
    font-family: "S-CoreDream";
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src:url("../fonts/S-CoreDream-2ExtraLight.woff"), format("woff");
  }
  @font-face {
    font-family: "S-CoreDream";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src:url("../fonts/S-CoreDream-1Thin.woff") format("woff");
  } 
  @font-face {
    font-family: "S-CoreDream";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:url("../fonts/S-CoreDream-4Regular.woff") format("woff");
  } 
  @font-face {
    font-family: "S-CoreDream";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:url("../fonts/S-CoreDream-5Medium.woff") format("woff");
  } 
  @font-face {
    font-family: "S-CoreDream";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src:url("../fonts/S-CoreDream-6Bold.woff") format("woff");
  } 
  @font-face {
    font-family: "S-CoreDream";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:url("../fonts/S-CoreDream-7ExtraBold.woff") format("woff");
  } 
  @font-face {
    font-family: "S-CoreDream";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src:url("../fonts/S-CoreDream-8Heavy.woff") format("woff");
  } 
  @font-face {
    font-family: "S-CoreDream";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src:url("../fonts/S-CoreDream-9Black.woff") format("woff");
  } 
  @font-face {
    font-family: "Chosunilbo";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src:url("../fonts/Chosunilbo_myungjo.woff") format("woff");
  } 